@model DATA.Entity.BHYT

@{
    ViewBag.Title = "CreateYT";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-header">
        <h4 class="card-title">Nhập thông tin bảo hiểm y tế</h4>
        <div class="card-tools">

        </div>
    </div>

    <div class="card-body">
        <form action="/MyHome/CreateYT" method="post">
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <div class="btn-group input-group-sm">
                        <button name="btnLuu" id="btnLuu" type="submit" class="btn btn-block btn-default" style="background-color:orange">
                            <i style="font-size: 20px; text-align:left" class="fas fa-save red_color"></i>
                            <span>Lưu</span>
                        </button>
                    </div>

                    <div class="btn-group input-group-sm">
                        <a href="baohiemyte" class="btn btn-danger" style="background-color:orange">
                            <i style="font-size: 20px; text-align:left" class="fas fa-circle-xmark red_color"></i>
                            <span>Hủy</span>
                        </a>
                    </div>
                    <br />
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelForModel("ID", htmlAttributes: new { @class = "control-label col-md-auto" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelForModel("ID_Bảo hiểm", htmlAttributes: new { @class = "control-label col-md-auto" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ID_BAOHIEM, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelForModel("Mã nhân viên", htmlAttributes: new { @class = "control-label col-md-auto" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MANV, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelForModel("Mã bảo hiểm", htmlAttributes: new { @class = "control-label col-md-auto" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MABH, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelForModel("Nơi đăng ký", htmlAttributes: new { @class = "control-label col-md-auto" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NOIDANGKY, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForModel("Giá trị sử dụng", htmlAttributes: new { @class = "control-label col-md-auto" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GTSD, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForModel("Nơi cấp", htmlAttributes: new { @class = "control-label col-md-auto" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NOICAP, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForModel("Mã vùng", htmlAttributes: new { @class = "control-label col-md-auto" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MAVUNG, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
}

